.header-menu {
  display: flex;
  gap: 13px;
  font-size: .8em;
  li {
    cursor: pointer;
    i {
      font-size: 26px;
      line-height: 15px;
    }
  }
}

.drawer {
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background: white;
  overflow: scroll;
  transition: all .3s;
  transform: translateX(-100%);
  z-index: 99999;
  @media (max-width: 400px) {
    width: 100%;
  }

  &.active {
    transform: translateX(0);
  }
}

.drawer-header {
  background: var(--primary);
}