@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-Black.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-BlackIt.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-BlackIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-BoldIt.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-BoldIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-Extrabld.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-ExtrabldIt.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-ExtrabldIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-Light.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-LightIt.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-LightIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-RegularIt.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-RegularIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNovaT-Thin.woff2') format('woff2'),
  url('./assets/fonts/ProximaNovaT-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-SemiboldIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-ThinIt.woff2') format('woff2'),
  url('./assets/fonts/ProximaNova-ThinIt.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

:root {
  --primary: #ffe600;
  --accent: #3483fa;
  --success: #00A650;
  --text-primary: #333;
  --text-secondary: #666;
  --text-tertiary: #999;
  --background: #ededed;
}

body, body * {
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

h1 {
  font-size: 26px;
}

strong {
  font-weight: 600;
}

button:focus-visible {
  outline: unset;
}

main {
  background: var(--background);
  color: var(--text-primary);
}

.background-primary {
  background: var(--primary);
}

.text-pri {
  color: var(--text-primary);
}
.text-sec {
  color: var(--text-secondary);
}
.text-ter {
  color: var(--text-tertiary);
}
.text-succ {
  color: var(--success);
}
.text-acc {
  color: var(--accent)
}

/*TOGGLE NAV*/
.toggle-nav .after\:content-\[\'\'\]::after {
  transition: height 0s;
}
.toggle-nav[aria-pressed="false"] .after\:content-\[\'\'\]::after {
  height: 2px;
  transition: height 0.3s;
}

/*FIX RATE STARS STYLE*/
.star-svg{
  display:inline;
  margin-right: 5px;
}

/*GLOBAL LOADER*/
.loader {
  cursor: wait;
  background: rgba(255, 255, 255, 0.48);;
  z-index: 9999999;
}
/*GLOBAL PAGINATION STYLES*/
[aria-label="pagination navigation"] .data-\[moving\=true\]\:transition-transform {
  background: white;
  color: var(--text-primary);
  border: solid 2px var(--accent);
}

/*ITEM IMAGES CAROUSEL*/
.item-carousel {
  .thumbs-wrapper {
    margin: 11px 0 !important;
    .control-arrow {
      background: rgba(0, 0, 0, 0.68);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      padding: 11px 2px;
    }
  }
  .carousel {
    width: auto;
    &:not(.carousel-slider) ul.thumbs.animated {
      transition-duration: 100ms !important;
      li.thumb {
        height: 44px;
        width: 44px !important;
        margin: 0 5px;
        padding: 1px;
        border-radius: 5px;
        border: solid 1px var(--text-tertiary);
        &:last-of-type {
          margin-right: 100px;
        }
        &.selected {
          border: solid 2px var(--accent);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  @media (min-width: 640px) {
    display: flex;
    flex-direction: row-reverse;
    .thumbs-wrapper {
      padding: 11px;
      margin: 0 !important;
      .control-arrow {
        display: none;
      }
    }
    .carousel {
      width: auto;
      &:not(.carousel-slider) ul.thumbs.animated {
        transition: unset !important;
        transform: unset !important;
        display: flex;
        flex-direction: column;
        width: 44px;
        li.thumb {
          margin: 5px 0;
        }
      }
    }
  }
}